asd/ch3/db.sqlite3
asd/ch3/mysite/__pycache__/__init__.cpython-38.pyc
asd/ch3/mysite/__pycache__/settings.cpython-38.pyc
asd/ch3/mysite/__pycache__/urls.cpython-38.pyc
asd/ch3/mysite/__pycache__/wsgi.cpython-38.pyc
